.head {
  width: 100%;
  height: 100px;
  background-color: #61dafb;
}

.center-head {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}

.left-head {
  width: 200px;
  height: 80px;
  background-color: bisque;
}

.right-head {
  width: 300px;
  height: 80px;
  background-color: darkseagreen;
}

.list-top {
  display:flex;
  justify-content: space-around;
  list-style: none;
}

main {
  width: 100%;
  height: 87vh;
  background-color: aquamarine;
}

.contents {
  width: 50%;
  height: 450px;
  padding: 40px;
  margin-left: 25rem;
  background-color: dimgrey;
  

}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10%;
  grid-template-rows: 200px 200px;
}

.content {
  background-color: lightyellow;
  border: 1px solid black;
}

footer {
  height: 20px;
  text-align: center;
  background-color: darkgray;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
